<!------FOOTER------->

<div class="footer container-fliod p-5">
    <nav class="col-12 row justify-content-center">
      <!-- Logo -->
      <a class="col-4 align-items-center justify-content-center" href="https://www.netflix.com">
        <img src="/assets/net-logo_2.png" alt="Logo de Netflix" class="img-logo mr-2 pl-0" height=100px pd-5>
      </a>
      <!-- C1 -->
      <ul class="col-4 list-unstyled">
      <li class="title-menu-footer font-weight-bold text-uppercase">Información</li>
        <li><a href="" class="text-light" routerLink="Inicio">Ayuda</a></li>
        <li><a href="" class="text-light" routerLink="Contacto">Contacto</a><span class="badge rounded-pill bg-info text-light ml-2">24hs</span></li>
        <li><a href="" class="text-light" routerLink="Servicios">Planes y Precios</a></li>
      </ul>
      <!-- Redes Sociales -->
      <ul class="redes-sociales col-1 list-unstyled">
        <!-- Íconos -->
        <li class="title-menu-footer font-weight-bold text-uppercase">Redes Sociales</li>
          <li class="d-flex justify-content-between">
            <a href="https://www.facebook.com/netflix" target="_blank" class="text-light"><i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/netflixlat/?hl=es-la" target="_blank" class="text-light"><i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.twitter.com/netflix" target="_blank" class="text-light"><i class="fab fa-twitter"></i>
          </a>
            <a href="https://www.youtube.com/c/NetflixLATAM" target="_blank" class="text-light"><i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.linkedin.com/in/carlosjcastrog" target="_blank" class="text-light"><i class="fab fa-linkedin-in"></i>
            </a>
            <a href="mailto:carlosjosecastro.p@gmail.com" target="_blank" class="text-light"><i class="fas fa-envelope"></i>
            </a>
            </li>
          </ul>

    </nav>
    <div class="copy-reserved-carlosjcastrog">
      <p>&copy; Made for a Folcademy course. 2023 Carlos José Castro Galante | Charlescito. All rights reserved.</p>
    </div>  
  </div>


<!------ CASTRO GALANTE, CARLOS JOSÉ ------>